.profileInfo{
    
}
.container{

    overflow: hidden;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
     width: 100%;
     height:100%;
     border-radius: 5px;
     background-color: #e9e9e9;
     box-shadow: 6px 6px 9px  rgba(0,0,0, 0.4),
                 -6px -6px 9px  #fff;
             padding: 5px;
}
.stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,10vh);
}
.headerContaing{
    position: relative;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.wrapyHeaderImage{
    clip-path: inset(0 0 0 0);
    height: 200px;
}
.headerImage{
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
   -webkit-animation: zoomEffect 15s infinite;
           animation: zoomEffect 15s infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-direction: alternate;       
            animation-direction: alternate;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;   
}
@-webkit-keyframes zoomEffect {
 0% {
    -webkit-transform: scale(1) translateX(0);
            transform: scale(1) translateX(0);
}
 100% { 
     -webkit-transform: scale(1.2) translateX(-200px) translateY(-80px);
             transform: scale(1.2) translateX(-200px) translateY(-80px);
 }
}
@keyframes zoomEffect {
    0% {
       -webkit-transform: scale(1) translateX(0) translateY(0);
               transform: scale(1) translateX(0) translateY(0);
   }
    100% { 
        -webkit-transform: scale(1.2) translateX(-80px) translateY(-80px);
                transform: scale(1.2) translateX(-80px) translateY(-80px); 
    }
   }
.mainHeading{
       font-size: 30px;
       color:red;
       grid-column-start: 2;
   }
.bodyStats{
    font-size: 20px;
    grid-column-start: 2;
}
.body{
    color:#00174f;
    margin-top: -50px;
    padding: 0 15px 15px;
    /*position: relative;*/
}
.wrapBodyImage{
    width: 110px;
    height: 110px;
    float: left;
    margin: 0 25px;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 100%;
    background-color: #e9e9e9;
   /*  box-shadow:  5px 5px 7px #a6a6a6; 
            ,-5px -5px 7px #ffffff;*/
}
.bodyImage{
    
    width: 100px;
    height: 100px;
    /*clip-path: circle(50.0% at 50% 50%);*/

    border-radius: 100%;
    
}


.bodyInfo{
    clear: left;
    position: relative;   
}
.card{
    border-radius: 5px;
    box-shadow: inset -6px -6px 9px 0 #fff ,
               inset 6px 6px 9px 0 rgba(0,0,0, 0.4);         
    margin-top: 15px;
    padding:  5px ;
}
.cardHeading{
    font-size: 12px;
    text-transform: uppercase;
   
}
.cardMore{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
/*cursor: pointer;
float: right;*/
}



.cardList {
    display: grid;
   grid-template-columns: repeat(3, 1fr);
   /* grid-auto-columns: min-content max-content auto;*/
    grid-gap: 2px;
    
}
.cardListImage {
    width: auto;
    height: 100px;
}



