.wrapperNews {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
      
}


.newsTest{
    display: grid;
    grid-template-rows: repeat(2, 500px);
    grid-template-columns: repeat(3, 500px);
    grid-gap: 40px;
    
}
.newsTest1{
    display: grid;
    background-color: rgba(220, 220, 200);
    

}
.newsTest1Div{
    display: grid;
    justify-self: center;
    align-self: center;
    grid-gap: 40px;
}
.newsTest2{
    display: grid;
    background-color: #e0e5ec;

}
.newsTest2Div{
    display: grid;
    /*justify-self: center;*/
    align-self: center;
    
    padding: 0 10%;
}
.newsTest3{
    display: grid;
    background: #e9e9e9;
}
.newsTest3Div{
    display: grid;
    justify-self: center;
    align-self: center;
   
}



.newsTest4{
    display: grid;
    background: #e9e9e9;
}
.newsTest4Div{
    display: grid;
    justify-self: center;
    align-self: center;
    grid-gap: 40px;
}
.newsTest5{
    display: grid;
    background-color: #e9e9e9;

}
.newsTest5Div{
    display: grid;
    /*justify-self: center;*/
    align-self: center;
    
    padding: 0 10%;
}
.newsTest6{
    display: grid;
   

}
.newsTest6Div{
    display: grid;
    /*justify-self: center;*/
    align-self: center;
    width: 400px;
    height: 400px;
    color: green;
    padding: 0 10%;
    font-size: 40px;
}
