*{
  box-sizing: border-box;  
}


.app-wrapper {
    margin: 0 auto;
    display: grid;
    /*width: 1200px;*/
    grid-template-areas: "h" "n" "c";

   /* grid-template-rows: 1fr ;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/ 
}

.app-wrapper-content {
    grid-area: b b;
    background-color: #e9e9e9;
    
}


